.all, .Body_layout {
    margin: 0%;
    height: 100%;
    overflow: hidden;
} 

.Body_layout {
    margin: 0;
    height: 100vh;
    /* background: rgb(1, 255, 1); */
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 75% 25%;
    
    color: red;
    font-size: 2rem;
    font-family: Arial, sans-serif;
    background-image: -webkit-linear-gradient( -20deg, white 0%, white 55%, black 0%, black 60%);
    
}


.left-side_homescreen {
    margin-left: 8%;
}
.controls {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 25% 50% 25%;
    font-size: 1.5vw;
    font-weight: bold;

}
.about_me, .skills, .projects {
    border: 1px solid red;
    display: flex;
    justify-content:left;
    align-items: center;
    

}

.about_me_btn, .skills_btn, .projects_btn {
    background-color: black;
    width: 50%;
    height: 55%;
    border-radius: 30px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    text-align: center;
}

.skills {
 border: 1px solid red;
}

.projects {
 border: 1px solid red;
}

.color {
    color: white;
    border: 1px solid red;
    
}

.Who_Am_I {
    display: grid;
    height:100%;
    /* grid-template-rows: 15% 60% 25%; */

}

.my_name {
    font-size: larger;
}

.Text_about_me {
    background-color: white;
    color: black;
    font-size: 65%;
    border-radius: 12px;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
}

.text_layout {
    display: grid;
    grid-template-columns:  60% 30%;
    grid-template-rows: auto;
}

.space {
    padding-left: 5%;
}

.text {
    line-height: 25px;
}

.white_back {
    background-color: white;
    border: 3px solid black;
    border-radius: 12px;
    width: 60%;
    height: 80%;
    color: black;
}

.middle-ground_cender {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;

}

